*{
    box-sizing: border-box;
    font-family: sans-serif;
  margin: 0;
  padding: 0;
  
    
 
}
li a.macu{
    color: rgb(148, 137, 137);
}
#macu{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(198,207,223,1) 0%, rgba(121,133,149,1) 37%, rgba(123,135,151,1) 72%, rgba(158,171,182,1) 100%);
  /*  background:url(../images/free-photo-of-machu-picchu-in-peru.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */

}
header{
    width: 100%;
    background-color: transparent;
    display: flex;
   
    
}
.navbar{
     display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1px auto;
}
.navbar ul li{
    list-style: none;
    display: flex;
    position: relative;
    margin-top: 5px;
   
}
.navbar ul{
    margin-left: -45px;
    padding-right: 32px;
    padding-left: 20px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar a{
    font-size: 18px;
    color:brown;
    font-weight:600;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    margin-top: 20px;
  
    
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: brown;
    transition: .3s ease;

}
.navbar a:hover::before{
    width: 100%;
}
p{
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    height: 100%;
    margin: 15px auto;
   /* border-top:  1px solid brown;*/
    border-radius: 26px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(198,207,223,1) 0%, rgba(121,133,149,1) 37%, rgba(123,135,151,1) 72%, rgba(158,171,182,1) 100%);


}
.eb-text-area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% ,-50%);
    width: 100%;
    flex-direction: column;
}
.eb-text-area a{
    font-weight: bold;
    font-size: 90px;
    color:rgb(95, 86, 86);
    text-decoration: none;
    transition: 0.5s ease;
}
.eb-text-area a:hover{
    letter-spacing: 5px;
    

}
.eb-text-area h5{
    color: rgb(95,86,86);
    line-height: 0.3rem;
    letter-spacing: 5px;
}
#container0{
    height: 100vh;
}
#container1{
    margin-top: 10%;
}
.row{
    
    border-radius: 26px;
    padding: 5px;
    height: 110%;
    
}
.card{
    width: 15rem;
    height: 10rem;
}
.col-md-6 > img{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    background-color: #A2B5BB;
   border: 1px solid rgba(211, 211, 211, 0.404);
}
.col-md-6 > .card{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid rgba(211, 211, 211, 0.404);
    background-color: #A2B5BB;
}
.card-body{
    background-color: #A2B5BB;
}
.card > img{
    height: 15rem;
}
#toggle,#toggle1,#toggle2,#toggle3,#toggle4,#toggle5 {
    display: none;
}

#toggle + label + p {
    display: none;
}

#toggle:checked + label + p {
    display: block;
    font-family: cursive;
    
}
#toggle1 + label + p {
    display: none;
}

#toggle1:checked + label + p {
    display: block;
    font-family: cursive;
}
#toggle2 + label + p {
    display: none;
}

#toggle2:checked + label + p {
    display: block;
    font-family: cursive;
}
#toggle3 + label + p {
    display: none;
}

#toggle3:checked + label + p {
    display: block;
    font-family: cursive;
}
#toggle4 + label + p {
    display: none;
}

#toggle4:checked + label + p {
    display: block;
    font-family: cursive;
}
#toggle5 + label + p{
    display: none;
}
#toggle5:checked + label + p{
    display: block;
    font-family: cursive;
}
.col-md-4 > p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
.card img{
    transition: .5s;
}
.card img:hover{
background: hsla(195, 83%, 58%, 0.6);
transform: rotate(10deg);
box-shadow: 25px 14px 99px 5px rgba(6,37,46,0.78);
-webkit-box-shadow: 25px 14px 99px 5px rgba(6,37,46,0.78);
-moz-box-shadow: 25px 14px 99px 5px rgba(6,37,46,0.78);

}
label.btn{
    transition: .4s;
}
label.btn:hover{
    color:rgb(70, 66, 66);
    background: rgb(137, 173, 209);
}
.eb-footer {
    background-color: rgb(123,135,151,1);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  .hamburger {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    display: none; 
}

@media only screen and (max-width: 768px) {
    .navbar{
        width: 90%;
    }
    .navbar ul {
        display: none; 
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        position: absolute;
        top: -30px; 
        left: 46px;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        
    }
    .navbar ul.show {
        display: flex;
    }

    .navbar li {
        margin: 0;
        text-align: center;
    }
    .navbar ul li a{
        font-size: 70%;
    }
    .hamburger {
        display: block; /* Show the hamburger button on smaller screens */
        font-size: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .eb-text-area {
        width: 90%;
        margin-top: 5%;
        
    }
    .eb-text-area a{
        font-size: 370%;
    }
    .eb-text-area a:hover{
        letter-spacing: 1px;
    }
    .eb-text-area h5{
        font-size: 63%;
        margin-top: -3%;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
    }
  }
  @media only screen and (max-width: 1024px) {
    .navbar{
        width: 100%;
    }
    .navbar ul li a{
        font-size: 104%;
    }
    .eb-text-area{
        width: 100%;
    }
    .row{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    .row .col-md-6{
        width: 100%;
    }
    .card-body p{
        font-size: 22px;
    }
  }
  @media only screen and (max-width: 375px) {
    .navbar ul li a{
        font-size: 70%;
    }
    .eb-text-area a {
        font-size: 250%;
    }
    .eb-text-area h5{
        font-size: 50%;
    }

    #photo1{
        height: 30vh;
    }
    label.btn{
        font-size: 80%;
    }
    p.card-text{
        font-size: 12px;
    }
    label + p{
        font-size: 90%;
    }
    .eb-footer{
        font-size: 90%;
    }
  }
  @media only screen and (max-width: 576px) {
    .card-body p{
        font-size: 16px;
    }
  }
