@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;0,900;1,700&family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,300&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  padding: 0;
}
ul li a.tajmahalla{
    color: rgb(148, 137, 137);
}

header{
    width: 100%;
    background-color: transparent;
    display: flex;
    
}
.navbar{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 1px auto;
}
.navbar ul li{
    list-style: none;
    display: flex;
    position: relative;
    margin-top: 5px;
   
}
.navbar ul{
    margin-left: -45px;
    padding-right: 32px;
    padding-left: 20px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    font-size: 18px;
    color:brown;
    font-weight:600;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    margin-top: 20px;
  
    
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: brown;
    transition: .3s ease;

}
.navbar a:hover::before{
    width: 100%;
}
article .card-body{
    display: block;
    text-align: center;
    width: 80%; 
    margin: 0 auto;
}
.eb-images{
    display: flex;
    height: 50vh;
    width: 100%;

}
.eb-images img{
    height: 99%;
    width: 90%;
    margin: 0 auto;
}
.eb-artikull{
    border-top: 3px solid grey;

}
.eb-textboxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.eb-box1{
    flex: 1;
    margin: 0 15px;
}
.card-text{
    max-width: 90%;
    max-height: 80%;
}
.eb-footer {
    background-color: rgb(125, 125, 125);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  .hamburger {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    display: none; /* Initially hide the hamburger button */
  }
  @media only screen and (max-width: 768px) {
    .navbar ul {
        display: none; 
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        position: absolute;
        top: -15%; 
        left: 13%;
        width: 100%;
        background-color: transparent; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    }
    .navbar ul.show {
        display: flex;
        
    }
  
    .navbar li {
        margin: 0;
        text-align: center;
    }
    .navbar ul li a{
      font-size: 13px;
    }
  
    .hamburger {
        display: block; /* Show the hamburger button on smaller screens */
        font-size: 36px;
        margin-left: 3%;
    }
    .eb-footer{
        font-size: 70%;
    }
    .eb-footer a{
        font-size: 160%;
    }
    .card-text{
        font-size: 80%;
    }
    .eb-images{
        height: 80%;
        flex-wrap: wrap;
    }
    .eb-images img{
        height: 300px;
    }
    body{
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 100vh;
    }
    .eb-rounded-image{
        height: 50% ;
    }
    .eb-textboxes{
            overflow: hidden;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            margin-top: 7%;
    }
    .eb-box1{
        margin-bottom: 50px;
    }
    p{
        font-size: 129%;
    }
    .imazhi{
        width: 100%;
    }
    .card-header h1{
        font-size: 220%;
        font-weight: 600;
    }
    .card-header h4{
       font-size: 150% ;
       font-weight: 600;
    }
    article .card-body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  }
